@import "vars-mixins";

@media only screen and (max-width: 768px) {
    .container{
        .navbar-collapse{
            .navbar-nav{
                margin-left: 1rem;
                margin-top: 1rem;
                padding: 0;
            }
        }
    }

    #about{
        .row{
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
        .contenedor1{
            .tec{
                i{
                    font-size: 3rem;
                }
            }
            .python{
                width: 3rem;
            }
        }
    }

    #portfolio {
        .proyectos {
            padding: 15px;
            //@include flex(column nowrap, center, center, 2rem);
        }
    }

    #contacto{
        .contacto__h1{
            font-size: 55px;
        }
        .contenedorForm{
            width: 90%;
        }
    }

    .footer{
        @include flex(column nowrap, space-around, center, 1rem);
        .footer__contacto{
            @include flex(column nowrap, center, center, 1rem);
            .footer__mail{
                .fa-envelope{
                    font-size: 20px;
                }
                p{
                    font-size: 20px;
                }
            }
            .footer__redes{
                h2{
                    font-size: 28px;
                }
                .redes{
                    a{
                        i{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .envioForm{
        width: 90%;
    }
}

@media only screen and (max-width: 425px) {
    #about{
        .about__h2 {
            font-size: 1.8rem;
        }
        .container {
            h3 {
                font-size: 26px;
            }
        }
        .contenedor1{
            column-gap: .5rem;
            margin-bottom: 1rem;
            .tec{
                i{
                    font-size: 2.5rem;
                }
            }
            .python{
                width: 2.5rem;
            }
        }
    }

    #portfolio{
        .portfolio__h1{
            font-size: 45px;
        }
    }

    #contacto{
        .contacto__h1{
            font-size: 40px;
        }
    }
}

@media only screen and (max-width: 375px){
    .navbar-expand-lg{
        .container{
            .navbar-brand{
                font-size: 25px;
            }
        }
    }

    #contacto{
        .contacto__h1{
            font-size: 40px;
        }
    }

    .footer{
        .footer__contacto{
            .footer__mail{
                p{
                    font-size: 18px;
                }
            }
        }
    }
}