@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "vars-mixins";
@import "general";

//PRESENTACION
.presentacion{
    padding: 1rem;
    padding-top: 7.5rem;
    padding-bottom: 6rem;
    background-color: $color2;
    @include flex(column nowrap, center, center, 0);
    &__img{
        width: 14rem;
        height: 14rem;
        border: 0;
        border-radius: 50%;
        background: url('../assets/Foto-portfolio.png');
        background-size: cover;
        background-position: center;
        margin-bottom: 3rem;
    }
    &__h1{
        margin: 0;
        font-size: 3rem;
        font-weight: 700;
        color: white;
        text-transform: uppercase;
    }
    &__h2{
        font-size: 1.7rem;
        font-weight: 700;
        color: white;
    }
}

//ABOUT
#about{
    @include flex(column nowrap, center, center, 0);
    padding-top: 6rem;
    padding-bottom: 6rem;
    .about__h1{
        @extend .presentacion__h1;
        color: $color2;
    }
    .row{
        margin-left: 7rem;
        margin-right: 7rem;
        .about__p{
            p{
                line-height: 35px;
                color: $color2;
                font-size: 23px;
                font-weight: 400;
            }
        }
    }
    .about__h2{
        @extend .presentacion__h2;
        margin-bottom: 2rem;
        font-size: 2rem;
        color: $color2;
        margin-top: 1rem;
    }
    .contenedor1{
        @include grid(4, 1fr, 2, 1fr, 2rem, 1rem);
        margin-bottom: 3rem;
        .tec{
            @include flex(row nowrap, center, center, 0);
            transition: all .3s ease-in-out;
            i{
                font-size: 5rem;
            }
            .fa-html5{
                color: #E34F26;
            }
            .fa-css3-alt{
                color: #1572B6;
            }
            .fa-sass{
                color: #CC6699;
            }
            .fa-bootstrap{
                color: #563D7C;
            }
            .fa-js-square{
                color: #F0DB4F;
            }
            .fa-github{
                color: #24292E;
            }
            .fa-git-alt{
                color: #ff5437;
            }
            &:hover{
                transform: scale(1.2);
            }
        }
        .python{
            width: 5rem;
        }
    }
    .container{
        display: flex;
        flex-direction: column;
        @include flex(column nowrap, center, null, 0);
        margin-bottom: 1rem;
        h3{
            font-size: 30px;
            margin: 0;
        }
        .progress-bar{
            background-color: $color1;
        }
    }
}

//PORTFOLIO
#portfolio{
    background-color: $color2;
    @include flex(column nowrap, center, center, 0);
    padding-top: 6rem;
    padding-bottom: 6rem;
    .portfolio__h1{
        @extend .presentacion__h1;
    }
    .portfolio__h2{
        @extend .presentacion__h2;
        color: $color1;
        margin: 0;
        font-size: 45px;
    }
    .portfolio__contenedor{
        @include flex(column nowrap, center, center, 1rem);
        margin-top: 1rem;
        .item{
            width: 12rem;
            padding: 1rem;
            background: linear-gradient(to right, #A3C5DE 0%, 17.953166365623474%, #FD1018 35.90633273124695%, 50.08673071861267%, #FFB11D 64.2671287059784%, 82.1335643529892%, #A3C5DE 100%);
            border-radius: 15px;
            padding: 1rem;
        }
        .portfolio__button{
            background-color: $color1;
            color: white;
            font-weight: 500;
            border: none;
            border-radius: 15px;
            padding: .5rem;
            font-size: 25px;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: white;
                color: $color1;
            }
        }
        .modal{
            border-radius: 15px;
            .modal-boton{
                @include flex(row nowrap, flex-end, center, 0);
                margin-right: 1rem;
                margin-top: 1rem;
                .portfolio__button--close{
                    border: none;
                    background-color: white;
                    i{
                        font-size: 50px;
                        color: $color1;
                    }
                }
            }
            .modal-header{
                border: none;
                justify-content: center;
                padding: 0;
            }
            .modal-body{
                padding: 0;
                @include flex(column nowrap, center, center, 0);
                &-img{
                    margin: 0;
                    width: 10rem;
                }
                &-p{
                    font-size: 1rem;
                    font-weight: 500;
                    color: black;
                    margin-top: 1rem;
                    margin-left: 5rem;
                    margin-right: 5rem;
                }
                .portfolio__button--sitio{
                    @extend .portfolio__button;
                    margin-bottom: 1rem;
                    &:hover{
                        background-color: $color2;
                        color: white;
                    }
                }
            }
        }
    }
}

//CONTACTO
#contacto{
    background-color: white;
    @include flex(column nowrap, center, center, 0);
    padding-top: 6rem;
    padding-bottom: 6rem;
    .contacto__h1{
        @extend .presentacion__h1;
        color: $color2;
    }
    .contenedorForm{
        width: 25rem;
        .form{
            width: 100%;
            padding: 0;
            @include flex(column nowrap, center, center, 1.5rem);
            .form-floating{
                width: 100%;
                .form-control{
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid $color1;
                    background-color: transparent;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $color2;
                    border-radius: 0;
                    &:focus{
                        box-shadow: none;
                        outline: none;
                    }
                }
                .form__label{
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: $color2;
                }
            }
            .form__mensaje{
                width: 100%;
                .form-control{
                    width: 100%;
                    border: none;
                    border-bottom: 2px solid $color1;
                    background-color: transparent;
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: $color2;
                    border-radius: 0;
                    &:focus{
                        box-shadow: none;
                        outline: none;
                    }
                }
                .form__label{
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: $color2;
                }
            }
            .form__submit{
                width: 100%;
                @include flex(row nowrap, center, center, 0);
                .boton__submit{
                    width: 50%;
                    background-color: $color1;
                    color: white;
                    font-weight: 600;
                    border: none;
                    border-radius: 15px;
                    padding: 5px;
                    font-size: 30px;
                    transition: all .3s ease-in-out;
                    &:hover{
                        background-color: $color2;
                        color: white;
                    }
                }
            }
        }
    }
}

//FOOTER
.footer{
    background-color: $color1;
    padding-top: 3rem;
    padding-bottom: 2rem;
    @include flex(column nowrap, space-around, center, 2rem);
    .footer__contacto{
        @include flex(row nowrap, space-around, center, 2rem);
        .footer__mail{
            @include flex(row nowrap, center, center, .5rem);
            .fa-envelope{
                margin: 0;
                padding: 0;
                color: white;
                font-size: 25px;
            }
            p{
                margin: 0;
                color: white;
                font-size: 25px;
            }
        }
        .footer__redes{
            @include flex(column nowrap, center, center, 0);
            h2{
                font-size: 30px;
                margin: 0;
                width: 100%;
                color: white;
            }
            .redes{
                @include flex(row nowrap, center, center, 1rem);
                a{
                    border: 2px solid white;
                    background-color: transparent;
                    border-radius: 50%;
                    color: white;
                    transition: all .3s ease-in-out;
                    i{
                        padding: 11px;
                        font-size: 26px;
                    }
                    &:hover{
                        background-color: white;
                        color: $color2;
                    }
                }
            }
        }
    }
    
    .footer__copy{
        p{
            color: white;
            font-size: 20px;
            font-weight: 600;
            margin: 0;
        }
    }
}    

//TARJETA POST ENVIO FORMULARIO
.envioForm{
    @include flex(column nowrap, center, center, 1rem);
    margin: auto;
    margin-top: 1rem;
    width: 30rem;
    border: none;
    border-radius: 10px;
    padding: .5rem;
    background-color: #1F2D41;
    & h1{
        font-size: 30px;
        color: white;
        text-align: center;
        margin-bottom: .5rem;
    }
    & p{
        font-size: 25px;
        color: white;
        text-align: center;
        margin-bottom: .5rem;
    }
    .botonEnvio{
        height: 3rem;
        border: none;
        border-radius: 10px;
        background-color: #FA4F4F;
        cursor: pointer;
        margin-bottom: 1rem;
        padding: 0;
        & a{
            font-size: 20px;
            text-decoration: none;
            font-weight: 600;
            padding: 1rem;
            color: white;
            &:hover{
                color: #FA4F4F;
            }
        }
        &:hover{
            background-color: white;
            color: #FA4F4F;
        }
    }
}

@import "media";